*{
    margin: 0px;
    box-sizing: border-box;
}

section{
    overflow: hidden;
    display: flex;
    border-radius: 40px;
    margin: auto;
    margin-top: 40px;
    border: 4px solid black;
    width: 80vw;
    height: 60vh;
    .config{
        border-right: 4px solid black;
        width: 20%;
        height: 100%;
        .configs{
            margin: 20px;
        }
    }
    .modelo{
        background-color: gray;
        overflow: hidden;
        text-align: end;
        width: 80%;
    }
    form{
        .cores_corpo, .cores_aba{
            display: flex;
            justify-content: start;
            width: 100%;
            margin: auto;
            .cor{
                border-radius: 50%;
                margin: 5px;
                border: 1px solid black;
                width: 30px;
                height: 30px;
                &:focus{
                    border: 3px solid rgb(34, 196, 144);
                }
            }
        }
    }
}