@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: lato;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #000000;
}
header .logo {
  max-width: 250px;
}
header .menu {
  width: 100%;
}
header .menu button {
  border: 1px solid white;
}
header .menu button i {
  color: white;
}
header .menu nav {
  border: 1px solid white;
  border-radius: 10px;
}
header .menu nav li {
  border-radius: 10px;
}
header .menu nav li a {
  color: white;
  text-decoration: none;
}
header .menu nav li a:hover {
  text-decoration: underline;
}
header .menu nav li:hover, header .menu nav li:focus {
  background-color: white;
}
header .menu nav li:hover a, header .menu nav li:focus a {
  color: black;
}
header .redes {
  margin: 1.3em 0;
}
header .redes a i {
  font-size: 1.3em;
  color: white;
  margin: 5px;
}
header .redes a i:hover {
  color: #BB0000;
}

main .container_inicio {
  background: url(../imagens/foto.png) center no-repeat;
  background-size: cover;
}
main .container_inicio .inicio {
  background-color: white;
  color: rgb(0, 0, 0);
  max-height: 75vh;
  border: 1px solid black;
  border-radius: 15px;
}
main .container_inicio .inicio .inicio_text strong {
  color: #BB0000;
}
main .container_inicio .inicio .inicio_text button {
  margin-top: 2em;
}
main .container_inicio .inicio .inicio_img img {
  border-radius: 0 15px 15px 0;
  max-height: 75vh;
  -o-object-fit: fill;
     object-fit: fill;
}
main .pag_02 .conversao .quant {
  height: 100px;
  padding: 5px;
}
main .pag_02 .conversao .quant i {
  color: #BB0000;
  font-size: 3em;
}
main .pag_02 .conversao .quant h4 {
  color: #BB0000;
}
main .pag_02 .induz_compra {
  color: white;
  max-width: 70%;
  border-radius: 15px;
  background-color: black;
}
main .pag_02 .como_pedir {
  max-width: 85%;
}
main .pag_02 .como_pedir strong {
  color: #BB0000;
}
main .pag_02 .como_pedir i {
  color: #BB0000;
  font-size: 3em;
}
main .pag_02 .fotos {
  background-color: #efefef;
}
main .pag_02 .fotos .todas_div div img {
  border-radius: 15px;
}
main .pag_02 .tipos .tipos_bones {
  height: 75vh;
}
main .pag_02 .tipos .tipos_bones .bone_destaque {
  border: 1px solid black;
  border-radius: 15px;
}
main .pag_02 .tipos .tipos_bones .outros {
  height: 100%;
}
main .pag_02 .tipos .tipos_bones .outros .col-6 {
  height: 50%;
}
main .pag_02 .tipos .tipos_bones .outros .col-6 .trucker_brasicap {
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
main .pag_02 .tipos .tipos_bones .outros .col-6 .americano {
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
main .pag_02 .tipos .tipos_bones .outros .col-12 {
  height: 50%;
}
main .pag_02 .tipos .tipos_bones .outros .col-12 .bones_fivela {
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
}

footer {
  background-color: #000000;
  color: white;
}

@media screen and (min-width: 992px) {
  header .container_divs .menu nav {
    border: none;
  }
  header .container_divs .menu nav ul li a {
    padding: 5px;
  }
  header .container_divs .menu nav ul li a:hover {
    text-decoration: none;
  }
}/*# sourceMappingURL=pag01.css.map */