@use 'header_footer';

@media screen and (min-width:992px){
    header{
        .container_divs{
            .menu{
                nav{
                    border: none;
                    ul{
                        li{
                            a{
                                padding: 5px;
                                &:hover{
                                    text-decoration: none; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}