@use 'header_footer';

$cor1:#000000;
$cor2:#FFFFFF;
$cor3:#333333;
$cor4:#666666;
$cor5:#BB0000;
$cor6:#efefef;


main{
    p{
        text-align: justify;
    }
    .banner{
        max-height: 60vh;
        width: 100%;
        object-fit: cover;
    }
    .maquinas{
        img{
            max-height:400px ;
        }
    }
    background-color: $cor6;
    .quem_somos{
        .fotos{
            max-width: 75vw;
            margin: auto;
            h1{
                font-weight: 300;
                strong{
                    font-weight: 800;
                    color: $cor5;
                }
            }
            a{
                max-width: 260px;
                border-radius: 15px;
                font-size: 1.2em;
                font-weight: 900;
                border: none;
                background-color: #00d739;
                transition: 0.5s;
                &:hover, &:focus, &:active{
                    transform: scale(1.1);
                    background-color: #00ff44;
                }
            }
            img{
                border-radius: 20px;
                transition: 1s;
                &:hover, &:focus, &:active{
                    filter: brightness(1.5);
                    transform: scale(1.05);
                }
            }
        }
        .texto{
            h1{
                font-weight: 700;
                color: $cor5;
            }
            img{
                border-radius: 20px;
            }
        }
    }
}

@media screen and (min-width:992px){
    header{
        .container_divs{
            .menu{
                nav{
                    border: none;
                    ul{
                        li{
                            a{
                                padding: 5px;
                                &:hover{
                                    text-decoration: none; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:770px){
    main{
        .comeco{
            .imag{  
                img{
                    margin: auto; //
                    width: 90%;//
                }
            }
            .texto{
                h1{
                    font-size: 1.3em;
                    line-height: 1em;
                }
                a{
                    font-size: .8em; //
                    width: 50%; //
                }
            }
        }
    }
}
