
*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000000;
}

header{
    background-color: #000000;

    h1{
        color: white;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}


main{
    color: white;
    .config_modelo{
        border-radius: 20px;
        padding: 10px;
        .config{
            border-radius: 20px;
            width: 30%;
            border: 1px solid black;
            height: 80vh;
            label{
                width: 35%;
            }
            select{
                width: 50%;
            }
            input[type="radio"]{ 
                appearance: none; 
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 3px;
                border: 2px solid white;
                position: relative;
                background-color: black;
                &.black{
                    background-color: #000000;
                    &:checked{
                        border: 6px solid black;
                        background-color: darkgray;
                    }
                }
                &.azul{
                    background-color: #3498db;
                    &:checked{
                        border: 6px solid black;
                        background-color: darkgray;
                    }
                }
                &.bage{
                    background-color: #f7f79b;
                    &:checked{
                        border: 6px solid black;
                        background-color: darkgray;
                    }
                }
                &.vermelho{
                    background-color: red;
                    &:checked{
                        border: 6px solid black;
                        background-color: darkgray;
                    }
                }
                &:checked{
                    border: 6px solid black;
                    background-color: darkgray;
                }
            }
            textarea{
                height: 100px;
                resize: none;
            }
        }
        .modelo{
            border-radius: 20px;
            width: 70%;
            height: 80vh;
            border: 1px solid black;
        }
    }
}